.container-fluid{
    background-color: #eeeeee;
}
.navbar-default{
    background-color: #eeeeee;
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
}
.container-fluid .jumbotron{
    border-radius: 0px;
}
.jumbotron h1{
    margin-top: 100px;
}
.container-fluid .form-inline{
    margin: 50px 0 100px 0;
}
.input-jumptron{
    border: none;
    border-radius: 0px;
}
.btn-jumptron{
    border: none;
    border-radius: 0px;
}
.icons-title{
    margin: 20px 0 50px 0;
}
.icons-list{
    color: #636b6f;
}